@media screen and (max-width: 450px) {
    footer.footer > div:first-child {
        -ms-grid-columns: 65%;
        grid-template-columns: 65%;
        padding-bottom: 5%;
    }
    .all,
    .ost,
    .three {
        -ms-grid-column: 1;
        -ms-grid-column-span: 12;
        grid-column: 1/13;
    }
    .menu-ex > li a {
        padding: 15px 5px;

    }
    .topbutton {
        display: none;
    }
}
@media screen and (max-width: 550px) {
    .for-each > img {
        width: 85%;
    }
    .menu-ex > li a {
        font-size: 1em;
        padding: 15px 20px;

    }
    .info {
        width: 100%;
        margin-top: 0;
    }
    .info > h1 { margin-top: 5px; line-height: 20px; }
    .topbutton {
        display: none;
    }
}
@media screen and (max-width: 700px) {
    .form-frame {
        -ms-grid-column: 3;
        -ms-grid-column-span: 8;
        grid-column: 3/11;
        text-align: center;
      }
    .ost,
    .three {
        -ms-grid-column: 2;
        -ms-grid-column-span: 10;
        grid-column: 2/12;
        width: 100%;
    }
    .topbutton {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .footer > div:first-child {
        -ms-grid-columns: 25% 25% 25%;
        grid-template-columns: 25% 25% 25%;
        grid-row-gap: 30px;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        margin-bottom: 10px;
    }
    main {
        width: 94%;
        margin: 0 3%;
    }
    img.second {
        width: 100%;
        -ms-grid-column: 2;
        -ms-grid-column-span: 10;
        grid-column: 2/12;
    }
    .third {
        -ms-grid-column: 2;
        -ms-grid-column-span: 10;
        grid-column: 2/12
    }
    .false {
        display: block;
    }
    .first {
        display: none;
    }
    .half2 > .ccd,
    .third.ccd {
        width: 100%;
    }
    .for-each > img {
        width: 50%;
    }
    .for-each {
        display: block;
        width: auto;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 850px) {
    .half1 {
        -ms-grid-column: 3;
        -ms-grid-column-span: 8;
        grid-column: 3/11;
    }
    .half2 {
        -ms-grid-column: 3;
        -ms-grid-column-span: 8;
        grid-column: 3/11;
    }
    .reg {
        background-color: #C4C4C4;
        -ms-grid-column: 4;
        -ms-grid-column-span: 6;
        grid-column: 4/10;
        height: auto;
        width: 300px;
    }
    #slider_bl .info {
        margin: 6% 20%;
        width: 60%;
    }
    #slider_bl .info > h1 {
        margin-top: 0;
        font-size: .8em;
    }
    #slider_bl .info > .ccd {
        margin: 0;
    }
}
@media screen and (max-width: 900px) {
    .none {
        display: block;
    }
    .header {
        -webkit-box-pack: inherit;
            -ms-flex-pack: inherit;
                justify-content: inherit;
        width: 100%;
    }
    .main-logo {
        padding-left: 15px;
    }
    #menu__toggle {
        opacity: 0;
      }

    #menu__toggle:checked ~ .menu__btn > span {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
                transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
    }
    .menu__btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: fixed;
        top: 25px;
        left: 85%;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        height: 2px;
        background-color: white;
        -webkit-transition-duration: .25s;
             -o-transition-duration: .25s;
                transition-duration: .25s;

      }
    /*  */
    .menu__btn {
        background-color: #8A89C3;
        border-radius: 35px;
        padding: 10px;
        text-align: center;
    }
    .menu__btn > span {
        width: 55%;
    }
    .menu__btn > span::before {
        width: 100%;
    }
    .menu__btn > span::after {
        width: 100%;
    }
    /*  */
    .menu__btn > span::before {
        content: '';
        top: -8px;
      }
    .menu__btn > span::after {
        content: '';
        top: 8px;
      }
    .menu__box {
        z-index: 2001;

        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;

        background-color: #8A89C3;
        -webkit-box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 80%);
                box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 80%);
        -webkit-transition-duration: .25s;
             -o-transition-duration: .25s;
                transition-duration: .25s;
      }
    .menu__item {
        display: block;
        align-items: center;
        padding: 12px 24px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        -webkit-transition-duration: .25s;
             -o-transition-duration: .25s;
                transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #7E7DBC;
    }
    .menu__box > li a {
        color: white;
        padding: 0;
        padding-left: 40px;
    }

    .menu__box > li > img {
        display: block;
        padding: 25px 20px;
    }
    .menu__box > li > a:hover,
    .menu__box > li > a:focus {
    color: white;
    
    }
    .menu__box > li > a:before {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        -webkit-transition: width 0s ease;
        -o-transition: width 0s ease;
        transition: width 0s ease;
    }
    .menu__box > li > a:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        background: transparent;
        -webkit-transition: width .5s ease;
        -o-transition: width .5s ease;
        transition: width .5s ease;
    }
     .menu__box > li > a:hover:before {
        width: 0%;
        background: white;
        -webkit-transition: width .5s ease;
        -o-transition: width .5s ease;
        transition: width .5s ease;
    }

    .menu__box > li > a:hover:after {
        width: 0%;
        background: transparent;
        -webkit-transition: width 0s ease;
        -o-transition: width 0s ease;
        transition: width 0s ease;
    }
    .bg {
        background-size: 150%;
        background-position: center top;
    }
    main.exhibitions > .half3 {
        -ms-grid-column: 2;
        -ms-grid-column-span: 10;
        grid-column: 2/12;
    }
    main.exhibitions > .half4 {
        -ms-grid-column: 3;
        -ms-grid-column-span: 8;
        grid-column: 3/11;
    }
}
@media screen and (max-width: 1100px) {
    .bg {
        height: 250px;
    }
}
@media screen and (max-width: 650px) {
    #slider_bl .info {
        margin: 8% 10%;
        width: 80%;
    }
    .info form { margin-top: 15px; }
}
@media screen and (max-width: 390px) {
    .bg {
        height: 150px;
    }
    .menu__box {
        width: 60%;
    }
    .menu__box > li img {
        width: 79%;
    }
    .menu__item { font-size: 10px;}
}
@media screen and (max-width: 600px) {
    footer.footer > div:first-child {
        -ms-grid-columns: 70%;
        grid-template-columns: 70%;
        grid-row-gap: 3%;
    }
    .icons-footer {
        margin-top: 15%;
    }
    .bg {
        background-size: 200%;
        background-position: center top;
        height: 200px;
    }
    .slide-about {
        -ms-grid-column: 2;
        -ms-grid-column-span: 10;
        grid-column: 2/12;
      }
    .all {
        -ms-grid-column: 2;
        -ms-grid-column-span: 10;
        grid-column: 2/12;
    }

    article img ,
    #slider_bl body {
        padding:0
    }
    #slider_bl .info {
        margin: 0 10% 0 10%;
    }
}

@media screen and (max-width: 950px) {
    #slider_bl .info > h1 {
        font-size: .9em;
        margin: 0;
    }
    .dis {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    #slider_bl .info > h1 {
        font-size: .9em;
        margin: 0;
    }
    .dis {
        display: none;
    }
}
@media only screen and (max-width:850px) and (min-width:450px) {
    #slider_bl .slider-wrapper
  {
        border-radius:0
    }

}
@media only screen and (max-width:450px) {
    #slider_bl .slider-wrapper
  {
        border-radius:0
    }
  #slider_bl .slider-wrapper .info {
    opacity:0
  }

}
@media only screen and (min-width:850px) {
    #slider_bl body {
        padding:0 80px
    }
}
